{% extends "index.html" %}
{% load static %}
{% block body %}
  <div class="card">
      <div class="card-body">
      <div class="form-group">

      <table class="table table-bordered" id="table">
        <thead>
          <tr>
            <th>
              Month / Year
            </th>
            <th>
              Total Sales
            </th>
            <th>
              Total Cost
            </th>
            <th>
              Profit
            </th>
          </tr>
        </thead>
        <tbody>

          <tr class="table-info">
            <td>
              August / 2018
            </td>
            <td>
              ${{infoDemo.total_sales|floatformat:2}}
            </td>
            <td>
              ${{infoDemo.total_cost|floatformat:2}}
            </td>
            <td>
              ${{infoDemo.profit_sum|floatformat:2}}
            </td>
          </tr>


          <tr class="table-info">
            <td>
              {{month1}} / {{year1}}
            </td>
            <td>
              ${{info1.total_sales|floatformat:2}}
            </td>
            <td>
              ${{info1.total_cost|floatformat:2}}
            </td>
            <td>
              ${{info1.profit_sum|floatformat:2}}
            </td>
          </tr>

          <tr class="table-info">
            <td>
              {{month2}} / {{year2}}
            </td>
            <td>
              ${{info2.total_sales|floatformat:2}}
            </td>
            <td>
              ${{info2.total_cost|floatformat:2}}
            </td>
            <td>
              ${{info2.profit_sum|floatformat:2}}
            </td>
          </tr>

          <tr class="table-info">
            <td>
              {{month3}} / {{year3}}
            </td>
            <td>
              ${{info3.total_sales|floatformat:2}}
            </td>
            <td>
              ${{info3.total_cost|floatformat:2}}
            </td>
            <td>
              ${{info3.profit_sum|floatformat:2}}
            </td>
          </tr>


          <tr class="table-info">
            <td>
              {{month4}} / {{year4}}
            </td>
            <td>
              ${{info4.total_sales|floatformat:2}}
            </td>
            <td>
              ${{info4.total_cost|floatformat:2}}
            </td>
            <td>
              ${{info4.profit_sum|floatformat:2}}
            </td>
          </tr>


          <tr class="table-info">
            <td>
              {{month5}} / {{year5}}
            </td>
            <td>
              ${{info5.total_sales|floatformat:2}}
            </td>
            <td>
              ${{info5.total_cost|floatformat:2}}
            </td>
            <td>
              ${{info5.profit_sum|floatformat:2}}
            </td>
          </tr>


          <tr class="table-info">
            <td>
              {{month6}} / {{year6}}
            </td>
            <td>
              ${{info6.total_sales|floatformat:2}}
            </td>
            <td>
              ${{info6.total_cost|floatformat:2}}
            </td>
            <td>
              ${{info6.profit_sum|floatformat:2}}
            </td>
          </tr>

        </tbody>


      </table>

    </div>
  </div>
</div>
</div>
    </div>
  </div>


{% endblock %}