{% extends "index.html" %}
{% load static %}
{% block body %}
  <div class="card">
    <div class="card-body">
      <!--<div class="form-group">-->
        <!--<label>Pharmacy Number</label>-->
        <!--<input type="text" class="form-control form-control-lg" placeholder="Pharmacy Number" aria-label="Username">-->
      <!--</div>-->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="form-group">
        <label>Filter Options</label>
        <select class="form-control" id="exampleFormControlSelect1" name="option" required >
          <option value='1'>Sort Min volume</option>
          <option value='2'>Sort Max volume</option>
          <option value='3'>Sort Min revenue</option>
          <option value='4'>Sort Max revenue</option>

        </select>
      </div>


      <div class="form-group">
        <label for="exampleFormControlSelect2">Year Select</label>
        <select class="form-control" id="exampleFormControlSelect2" name="year" required >
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
          <option>2014</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect3">Month Select</label>
        <select class="form-control form-control-sm" id="exampleFormControlSelect3"name="month" required>
          <option value='1'>January</option>
          <option value='2'>February</option>
          <option value='3'>March</option>
          <option value='4'>April</option>
          <option value='5'>May</option>
          <option value='6'>June</option>
          <option value='7'>July</option>
          <option value='8'>August</option>
          <option value='9'>September</option>
          <option value='10'>October</option>
          <option value='11'>November</option>
          <option value='12'>December</option>
        </select>
      </div>
        <button type="submit" class="btn btn-primary mr-2" name="submit" value="save">Submit</button> </form>
    </div>
    <div class="card-body">
<div class="col-lg-12 stretch-card">
<div class="card">
  <div class="card-body">
    <p class="card-description">
      <h4 class="card-title">Results
    {%if not total_sales%}<h2>There are no information of your query{%endif%}</h2></h4>

    {%if a == 1%}
    Sort Min volume
    {%elif a == 2%}
    Sort Max volume
    {%elif a == 3%}
    Sort Min revenue
    {%elif a == 4%}
    Sort Max revenue
    {%endif%}

    </p>
     <button onclick="exportTableToCSV('members.csv')">Export HTML Table To CSV File</button>

    <div class="table-responsive">

      <table class="table table-bordered" id="table">
        <thead>
          <tr>
            <th>
              GDC
            </th>
            <th>
              Description
            </th>
            <th>
              Volume
            </th>
            <th>
              Total Revenue
            </th>
            <th>
              Total Cost
            </th>
            <th>
              Profit
            </th>
            <th>
              Margin
            </th>
            <th>
              Unit Cost
            </th>
            <th>
              Alternative Unit Cost
            </th>
            <th>
              Savings
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info">

            {%for info in total_sales%}
            <td>
              {% for des in des2%}
              {%if des.item_iden == info.NDC %}
              {{des.generic_drug_code}}
              {%endif%}
              {% endfor%}
            </td>
            <td>
              {{info.dispended_drug_description}}
            </td>
            <td>
              {{info.Qty_dispended}}
              <input type="hidden"  value="{{info.Qty_dispended}}" id="second{{ forloop.counter }}">
            </td>
            <td>
              ${{info.Total_sales}}
            </td>
            <td>
              ${{info.total_cost}}
              <input type="hidden" value="{{info.total_cost}}" id="third{{ forloop.counter }}">
            </td>
            <td>
              ${{info.Profit}}
            </td>
            <td>
              {{info.Margin|floatformat:1}}%
            </td>
            <td>
              ${{info.unit_cost|floatformat:2 }}
              <!--<input type="text" id="second" class="form-control" placeholder="Enter your second number" style="visibility: hidden;">-->
            </td>
            <td>
              <form action="#" class="form-inline">

                <input type="text" id="first{{ forloop.counter }}"class="form-control" placeholder="Enter Alternate Cost">


              </form>


            </td>
            <td id="result{{ forloop.counter }}">

            </td>
          </tr>

        </tbody>
        <form name = "form" method="post" action = "">
          {% csrf_token %}
          {% for des in des2%}
              {%if des.item_iden == info.NDC %}

          <input type="hidden"  value="{{des.generic_drug_code}}" name ="gdc" >
              {%endif%}
              {% endfor%}

             <input type="hidden"  value="${{info.unit_cost|floatformat:2 }}" name ="unitcost">
          <input type="hidden"  value="{{info.Qty_dispended}}" name ="alcost">
          <input type="hidden"  value="{{info.dateFilled|date:"Y-m-d"}}" name ="date">
          <input type="submit" name="sub" value="OK">

        </form>
        {%endfor%}


      </table>

    </div>
  </div>
</div>
</div>
    </div>
  </div>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://www.jqueryscript.net/demo/jQuery-Plugin-To-Convert-HTML-Table-To-CSV-tabletoCSV/jquery.tabletoCSV.js"></script>

<script type="text/javascript">
function exportTableToCSV(filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");

    for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
            row.push(cols[j].innerText);

        csv.push(row.join(","));
    }

    // Download CSV file
    downloadCSV(csv.join("\n"), filename);
}

function downloadCSV(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV file
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // Create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Hide download link
    downloadLink.style.display = "none";

    // Add the link to DOM
    document.body.appendChild(downloadLink);

    // Click download link
    downloadLink.click();
}
</script>


<script type="text/javascript">
  {%for info in total_sales%}
  var first{{ forloop.counter }} = document.getElementById('first{{ forloop.counter }}');
  var second2{{ forloop.counter }} = document.getElementById('second{{ forloop.counter }}');
  var third2{{ forloop.counter }} = document.getElementById('third{{ forloop.counter }}');
  var two{{ forloop.counter }} = parseFloat(second2{{ forloop.counter }}.value) || 0;
  var third{{ forloop.counter }} = parseFloat(third2{{ forloop.counter }}.value) || 0;
  var result{{ forloop.counter }} = document.getElementById('result{{ forloop.counter }}');

  first{{ forloop.counter }}.addEventListener("input", sum{{ forloop.counter }});

function sum{{ forloop.counter }}() {

 var one{{ forloop.counter }} = parseFloat(first{{ forloop.counter }}.value) || 0;

var add{{ forloop.counter }} = one{{ forloop.counter }}*two{{ forloop.counter }};
var add2{{ forloop.counter }} = third{{ forloop.counter }} -add{{ forloop.counter }};

result{{ forloop.counter }}.innerHTML = '$'+add2{{ forloop.counter }};

}
{%endfor%}
</script>





{% endblock %}