{% extends "index.html" %}
{% load static %}
{% block body %}
  <div class="card">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}



      <div class="form-group">
        <label for="exampleFormControlSelect2">Year Select</label>
        <select class="form-control" id="exampleFormControlSelect2" name="year" required >
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
          <option>2014</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect3">Month Select</label>
        <select class="form-control form-control-sm" id="exampleFormControlSelect3"name="month" required>
          <option value='1'>January</option>
          <option value='2'>February</option>
          <option value='3'>March</option>
          <option value='4'>April</option>
          <option value='5'>May</option>
          <option value='6'>June</option>
          <option value='7'>July</option>
          <option value='8'>August</option>
          <option value='9'>September</option>
          <option value='10'>October</option>
          <option value='11'>November</option>
          <option value='12'>December</option>
        </select>
      </div>
        <button type="submit" class="btn btn-primary mr-2" name="submit" value="save">Submit</button> </form>
    </div>
    </div>
    <div class="card-body">
<div class="col-lg-12 stretch-card">
<div class="card">
  <div class="card-body">
    <p class="card-description">
      <h4 class="card-title">Potentials</h4>
    </p>
    <div class="table-responsive">

      <table class="table table-bordered" id="table">
        <thead>
          <tr>
            <th>
              GDC
            </th>
            <th>
              Unit Cost
            </th>
            <th>
              Alternate Cost
            </th>
            <th>
             Margin
            </th>

          </tr>
        </thead>
        <tbody>
          <tr class="table-info">

            {%for info in total_sales%}
            <td>
             {{info.generic_drug_code}}
            </td>
            <td>
              {{info.Acq_unit_cost}}
            </td>
            <td>
              {{info.Acquistion_cost}}
            </td>
            <td>
              {{info.margin}}
            </td>
          </tr>

        </tbody>
        {%endfor%}
      </table>

    </div>
  </div>
</div>
</div>
    </div>
  </div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://www.jqueryscript.net/demo/jQuery-Plugin-To-Convert-HTML-Table-To-CSV-tabletoCSV/jquery.tabletoCSV.js"></script>


{% endblock %}
