<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>

{%for info in info %}
{{info.Acquistion_cost}}
{%endfor%}
<br>
NDC  <br>
Description: {{description}}  <br>
Package Size  <br>
TOTAL SALES:{{total_sales.Total_sales__sum}}  <br>
TOTAL COST:{{total_cost.Acquistion_cost__sum}}  <br>
PROFIT:{{profit_sum.Profit__sum}} <br>
Margin: <br>
Unit Cost:  <br>
Alternative Unit Cost <br>
Savings with Alternative Cost <br>
</body>
</html>
<!--{%for alps in alp %}-->
    <!--<p>Number {{forloop.counter}} product: {{alps.NDC}} {{alps.dispended_drug_description}} PROFIT:{{alps.Profit__sum}}</p>-->
<!--{%endfor%}-->
<!--Profit:{{alp}}-->
<!--<br>-->
<!--Bu get object icin:{{alp}}-->