{% extends "index.html" %}
{% load static %}
{% block body %}
  <div class="card">
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="form-group">
        <label>Filter Options</label>
        <select class="form-control" id="exampleFormControlSelect1" name="option" required >
          <option value='1'>Sort Min volume</option>
          <option value='2'>Sort Max volume</option>
          <option value='3'>Sort Min revenue</option>
          <option value='4'>Sort Max revenue</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect2">Year Select</label>
        <select class="form-control" id="exampleFormControlSelect2" name="year" required >
          <option>2018</option>
          <option>2017</option>
          <option>2016</option>
          <option>2015</option>
          <option>2014</option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect3">Month Select</label>
        <select class="form-control form-control-sm" id="exampleFormControlSelect3"name="month" required>
          <option value='1'>January</option>
          <option value='2'>February</option>
          <option value='3'>March</option>
          <option value='4'>April</option>
          <option value='5'>May</option>
          <option value='6'>June</option>
          <option value='7'>July</option>
          <option value='8'>August</option>
          <option value='9'>September</option>
          <option value='10'>October</option>
          <option value='11'>November</option>
          <option value='12'>December</option>
        </select>
      </div>
        <button type="submit" class="btn btn-primary mr-2" name="submit" value="save">Submit</button> </form>
    </div>
    <div class="card-body">
<div class="col-lg-12 stretch-card">
<div class="card">
  <div class="card-body">
    <p class="card-description">
      <h4 class="card-title">Results</h4>
    </p>
    <div class="table-responsive">

      <table class="table table-bordered" id="table">
        <thead>
          <tr>
            <th>
              GDC
            </th>
            <th>
              Description
            </th>
            <th>
              Volume
            </th>
            <th>
              Total Revenue
            </th>
            <th>
              Total Cost
            </th>
            <th>
              Profit
            </th>
            <th>
              Margin
            </th>
            <th>
              Unit Cost
            </th>
            <th>
              Unit Cost Last Month
            </th>
            <th>
              Change in Unit Cost
            </th>
            <th>
              Change in Profit
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-info">

            {%for info in total_sales%}
            <td>
              {% for des in des3%}
              {%if des.item_iden == info.NDC %}
              {{des.generic_drug_code}}
              {%endif%}
              {% endfor%}
            </td>
            <td>
              {{info.dispended_drug_description}}
            </td>
            <td>
              {{info.Qty_dispended}}
              <input type="hidden"  value="{{info.Qty_dispended}}" id="second{{ forloop.counter }}">
            </td>
            <td>
              {{info.Total_sales}}
            </td>
            <td>
              {{info.total_cost}}
              <input type="hidden" value="{{info.total_cost}}" id="third{{ forloop.counter }}">
            </td>
            <td>
              {{info.Profit}}
            </td>
            <td>
              {{info.Margin|floatformat:2 }}
            </td>
            <td>
              {{info.unit_cost|floatformat:2 }}
            </td>
            <td>
               {% load sc %}
                {% with True as flag %}
                  {% for des in des2%}
                    {% if flag %}
                      {%if des.NDC == info.NDC %}
                        {{des.unit_cost|floatformat:2}}
                        {% update_variable False as flag %}
                      {%endif%}
                    {% endif %}
                  {% endfor%}
                {% endwith %}
            </td>
            <td >
               {% load sc %}
                {% with True as flag %}
                  {% for des in des2%}
                    {%if des.NDC == info.NDC%}
                      {% if flag %}
                        {{info.unit_cost|subtract:des.unit_cost}}
                        {% update_variable False as flag %}
                      {%endif%}
                    {% endif %}
                  {% endfor%}
                {% endwith %}

            </td>
            <td >
              {% load sc %}
                {% with True as flag %}
                  {% for des in des2%}
                    {%if des.NDC == info.NDC%}
                      {% if flag %}
                        {{info.Profit|subtract:des.Profit}}
                        {% update_variable False as flag %}
                      {%endif%}
                    {% endif %}
                  {% endfor%}
                {% endwith %}
            </td>
          </tr>

        </tbody>
        {%endfor%}
      </table>

    </div>
  </div>
</div>
</div>
    </div>
  </div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="http://www.jqueryscript.net/demo/jQuery-Plugin-To-Convert-HTML-Table-To-CSV-tabletoCSV/jquery.tabletoCSV.js"></script>

<script type="text/javascript">

     {% for des in des2%}
      var total = document.getElementById("fourth{{ forloop.counter }}").value;
      var val2 = document.getElementById("fifth{{ forloop.counter }}").value;
      var ansD = total - val2;
      result{{ forloop.counter }}.innerHTML = ansD;
      {%endfor%}


</script>

<script type="text/javascript">
      {% for des in des2%}
        var total1 = document.getElementById("sixth{{ forloop.counter }}").value;
        var val3 = document.getElementById("seventh{{ forloop.counter }}").value;
        var ansD2 = total1 - val3;
        result2{{ forloop.counter }}.innerHTML = ansD2;
        console.log(val3);
        console.log(ansD2);
        console.log(result2);
      {%endfor%}


</script>
{% endblock %}
