{% extends "index.html" %}
{% load static %}
{% block body %}
<div class="col-lg-4 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label>Pharmacy Number</label>
        <input type="text" class="form-control form-control-lg" placeholder="Pharmacy Number" aria-label="Username">
      </div>
      <button type="submit" class="btn btn-primary mr-2">Calculate</button>
      <button class="btn btn-light">Control Panel</button>
    </div>
  </div>
</div>

{% endblock %}