{% extends "index.html" %}
{% load static %}
{% block body %}
<div class="col-lg-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Select File to upload:</h4>



      <form  class="dropzone d-flex align-items-center" id="my-awesome-dropzone" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
           <input type="file" name="myfile">
        <button type="submit" class="btn btn-primary mr-2">Upload References</button>

      </form>

      <!--<button type="submit" class="btn btn-primary mr-2">Upload References</button>-->
      <!--<button class="btn btn-light">Control Panel</button>-->
    </div>
  </div>
</div>

{% endblock %}